<html>
    <head>
        <title>Practise blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Practise Blog</a></h1>
        </div>

        <div>
            <p>published: 03.11.2020, 19:14</p>
            <h2><a href="">My first post</a></h2>
            <p>It is first post</p>
        </div>

        <div>
            <p>published: 03.11.2020, 19:14 </p>
            <h2><a href="">My second post</a></h2>
            <p>It is my second post</p>
        </div>
    </body>
</html>